//左浮动
.fl {
  float: left;
}

//右浮动
.fr {
  float: right;
}

//清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//光标样式
.cur {
  cursor: pointer;
}

//a标签的样式
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

//icon样式 http://iconfont.cn/help/detail?spm=a313x.7781069.1998910419.14&helptype=code
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
