@import './sidebar.scss';
//左浮动
.f-fl {
  float: left;
}

//右浮动
.f-fr {
  float: right;
}

//清除浮动
.f-clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//光标样式
.f-cur {
  cursor: pointer;
}

//icon样式 http://iconfont.cn/help/detail?spm=a313x.7781069.1998910419.14&helptype=code
.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 全局样式
html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  outline: none;
}

//a标签的样式
a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

code {
  background: #eef1f6;
  padding: 15px 16px;
  margin-bottom: 20px;
  display: block;
  line-height: 36px;
  font-size: 14px;
  a {
    color: #337ab7;
    cursor: pointer;
    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}
