// 侧边栏
.g-sidebar>.el-menu {
  width: 100% !important;
  min-height: 100%;
}

.g-sidebar .svg-icon {
  margin-right: 16px;
}

.s-hide-sidebar .el-submenu>.el-submenu__title,
.s-hide-sidebar .submenu-title-noDropdown {
  padding-left: 10px !important;
}

.s-hide-sidebar .submenu-title-noDropdown span,
.s-hide-sidebar .el-submenu>.el-submenu__title>span {
  display: inline-block;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.s-hide-sidebar .nest-menu .el-submenu__title {
  padding-left: 20px!important;
  text-align: initial!important;
  span {
    display: inline;
    visibility: visible;
    width: auto;
    height: auto;
  }
  .el-submenu__icon-arrow {
    display: block !important;
  }
}

.s-hide-sidebar .menu-wrapper>.el-menu-item,
.s-hide-sidebar .submenu-title-noDropdown,
.s-hide-sidebar .menu-wrapper>.el-submenu .el-submenu__title {
  text-align: center;
}

.s-hide-sidebar .el-menu-item .el-submenu__icon-arrow,
.s-hide-sidebar .el-submenu .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

.s-hide-sidebar .submenu-title-noDropdown {
  position: relative;
  span {
    opacity: 0;
    transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
  }
  &:hover {
    position: absolute;
    right: -145px;
    top: 0;
    z-index: 1002;
    display: block;
    visibility: visible;
    width: 140px;
    height: 56px;
    text-align: left;
    text-indent: 20px;
    opacity: 1;
    background-color: #1f2d3d;
  }
}
