$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: #eee;
// 字体大小
$fs_large: 26px;
$fs_big: 20px;
$fs_medium: 16px;
$fs_small: 14px;
$fs_mini: 12px;
// sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
// dialog
$dialogTitleBg: #409EFF;
$dialog_title: 16px;
